body {
    background: url("../../favicon.ico");
    background-color: gray;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -50%;
}

p {
    font-size: 100px;
    color: white;
}
